<div class="nav">
    <div class="logo-box">
        <a href="/"><%- include('../svgs/logo') %></a>
        <a href="/"><h1>Cutiefy</h1></a>
    </div>

    <!-- Enable when available -->
    <!-- 
        <form action="" method="post" class="search-box">
            <input type="search" name="search" placeholder="Search">
        </form> 
    -->

    <div class="nav-box">
        <a href="/playlists"><%- include('../svgs/playlist') %></a>
        <a href="/songs/favourites"><%- include('../svgs/heart-full') %></a>
        <a href="/songs"><%- include('../svgs/upload') %></a>
    </div>

    <%- include('./modal') %>
</div>